<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hongyunbasic"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <application
        android:name=".MyApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:name="com.sec.android.support.multiwindow" android:value="true"/>
		<meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W" android:resource="@dimen/app_defaultsize_w"/>
		<meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H" android:resource="@dimen/app_defaultsize_h"/>
		<meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W" android:resource="@dimen/app_minimumsize_w"/>
		<meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H" android:resource="@dimen/app_minimumsize_h"/>
		
        <activity
            android:name=".MainActivity"
            android:label="test_animation" >
            <!-- <intent-filter> -->
<!--                 <action android:name="android.intent.action.MAIN" /> -->

<!--                 <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="test.tao.harness.TestHarness"
            android:label="TestHarness" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
            <intent-filter>  
			    <action android:name="android.intent.action.VIEW"/>  
			    <category android:name="android.intent.category.DEFAULT" />  
			    <category android:name="android.intent.category.BROWSABLE" />  
			    <data android:scheme="myapp" android:host="www.w3fools.com"/>  
			</intent-filter>
        </activity>

        <!-- ===========================================测试animation方法============================================= -->
        <!-- <activity -->
        <!-- android:name="test.animation.TestAnimation" -->
        <!-- android:label="test_animation" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.SAMPLE_CODE1" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <activity -->
        <!-- android:name="test.animation.TestAnimation1" -->
        <!-- android:label="test_animation" > -->
        <!-- </activity> -->
        <!-- <activity -->
        <!-- android:name="test.animation.TestAnimation2" -->
        <!-- android:label="test_animation" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.SAMPLE_CODE1" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <activity -->
        <!-- android:name="test.animation.TestTranslateAnimation" -->
        <!-- android:label="test_animation" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.SAMPLE_CODE1" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <activity -->
        <!-- android:name="test.animation.TestAnimation3" -->
        <!-- android:label="test_animation" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.SAMPLE_CODE1" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <activity -->
        <!-- android:name="test.animation.TestAnimation4" -->
        <!-- android:label="test_animation" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.SAMPLE_CODE1" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- ===========================================测试OnDraw方法============================================= -->
        <activity
            android:name="test.ondraw.TestSaveAndRestore"
            android:label="test_animation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.AsyncTask_HandlerThread.RockIt"
            android:label="test_asyncTask_handlerThread" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.scrolllayout.FooScrollTest"
            android:label="test.scrolllayout.FooScrollTest" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.scrolllayout.PagingViewTest"
            android:label="test.scrolllayout.PagingViewTest" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.tabactivity.BottomTabActivity"
            android:label="test.tabactivity.BottomTabActivity" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="test.scrolllayout.VerticalScrollBounceViewTest"
            android:label="可以竖直拖动的view" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.imageroundcorner.TestImageRoundCorner"
            android:label="TestImageRoundCorner" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.alarmmanager.SetupAlarm"
            android:label="TestImageRoundCorner" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>

        <activity
            android:name="test.photo.TakePhoto"
            android:label="TakePhoto" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.photo.ChoosePhotoFromAlbumOrCamera"
            android:label="ChoosePhotoFromAlbumOrCamera" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.statelistdrawable.TestStateListDrawable"
            android:label="TestStateListDrawable" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>

        <activity
            android:name="test.drawn.DrawnDiagram"
            android:label="test.drawn.DrawnDiagram" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.anr.TestANR"
            android:label="testANR" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.looperhandler.HandlerTestActivity"
            android:label="HandlerTestActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.progressDialog.TestProgressDialog"
            android:label="TestProgressDialog" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.wheel.TestWheelView"
            android:label="TestWheelView" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.huawei.gpu.TestGpuStatus"
            android:label="TestGpuStatus" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.tao.startactivity.TestStartActivityForResult"
            android:label="TestStartActivityForResult" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.chexiannumberview.TestCheXianNumberView"
            android:label="test.chexiannumberview" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.galaxys4.popupdialog.TestLayout"
            android:label="TestLayout" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.webview.TestWebView"
            android:label="测试webview" >

            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
           
        </activity>
        <activity
            android:name="test.datepicker.TestDatePicker"
            android:label="datepicker" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
        <!-- ::::::::::::::::::::::::::::4月份:::::::::::::::::::::::::::::::::::::::::: -->
        <!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
        <!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
        <activity
            android:name="test.tao.harness.Test4April"
            android:label="test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
        <!-- ::::::::::::::::::::::::::::5月份:::::::::::::::::::::::::::::::::::::::::: -->
        <!-- :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::: -->
        <!-- ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
         -->
        <activity
            android:name="test.tao.harness.Test5May"
            android:label="test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE1" />
                <action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.Monkey" />
            </intent-filter>
             <intent-filter>
                <action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.MONKEY" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.tao.harness.Test6June"
            android:label="test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.tao.harness.TestOnItemLongClick"
            android:label="test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.SAMPLE_CODE1" />
            </intent-filter>
        </activity>
        <activity
            android:name="test.tao.harness.Test20150909"
            android:label="test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="test.broadcastreceiver.BootReceiver"
            android:enabled="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" >
                </action>

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>
        <receiver android:name="test.alarmmanager.AlarmReceiver" >
            <intent-filter>
                <action android:name="fuck.fuck.ffff" >
                </action>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.example.hongyunbasic.WidgetMy"
            android:enabled="true"
            android:label="w_hongyun" >
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weitao_appwidget" >
            </meta-data>

            <intent-filter>
                <action android:name="com.taobao.action.widget.click.page.next" />
                <action android:name="com.taobao.action.widget.click.page.pre" />
                <action android:name="com.taobao.action.widget.click.refresh" />
                <action android:name="com.taobao.action.widget.click.refresh.page" />
                <action android:name="com.taobao.action.widget.click.refresh.image" />
                <action android:name="com.taobao.action.widget.click.weitao" />
                <action android:name="com.taobao.action.widget.click.empty" />
                <action android:name="com.taobao.action.widget.account.login" />
                <action android:name="com.taobao.action.widget.account.logout" />
                <action android:name="com.taobao.atlas.action.DEXFILE_LOADED" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>
        <activity 
            android:name="test.tao.harness.TestIntentFilter"
            android:label="fkkk"
            android:exported="true"
            >
            <intent-filter>
				<category android:name="android.intent.category.DEFAULT" />
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.BROWSABLE"/>
<!-- 				<data android:path="/shop/shop_info.htm" /> -->
				<data android:scheme="http" android:host="shop.m.taobao.com" android:path="/shop/shop_index.htm" />
<!-- 				<data android:scheme="http" android:host="shop.m.taobao.com" /> -->
				<data android:scheme="taobao" />
<!-- 				<data android:scheme="itaobao" /> -->
            </intent-filter>
              <intent-filter>
		        <action android:name="android.intent.action.VIEW"/>
		        <category android:name="android.intent.category.DEFAULT"/>
		        <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http" android:host="detail.tmall.com" android:path="/item.htm" />
                <data android:scheme="taobao" />
            </intent-filter>
            <intent-filter>
		        <action android:name="android.intent.action.VIEW"/>
		        <category android:name="android.intent.category.DEFAULT"/>
		        <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http" android:host="item.taobao.com" android:path="/item.htm" />
                <data android:host="item.tmall.com" />
                <data android:scheme="taobao" />
            </intent-filter>

            <intent-filter>
		        <action android:name="android.intent.action.VIEW"/>
		        <category android:name="android.intent.category.DEFAULT"/>
		        <category android:name="android.intent.category.BROWSABLE"/>

		        <data android:scheme="http" android:host="a.m.taobao.com" android:pathPattern="/i.*\\.htm" />
                <data android:host="a.m.tmall.com" />
				<data android:scheme="itaobao" />
                <data android:scheme="taobao" />
             </intent-filter>
             <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="h5.m.taobao.com" android:path="/awp/core/detail.htm" />
                <data android:scheme="taobao" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" android:host="reader.taobao.com" android:path="/book/detail.htm" />
            </intent-filter>
            
                        <intent-filter>
				<category android:name="android.intent.category.DEFAULT" />
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.BROWSABLE"/>
				<data android:scheme="http" android:host="shop.m.taobao.com" android:path="/shop/shop_index.htm" />
				<data android:path="/shop/shop_info.htm" />
				<data android:scheme="taobao" />
				<data android:scheme="itaobao" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http" android:host="store.taobao.com" android:path="/shop/viewShop.htm" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http" android:host="h5.m.taobao.com" android:path="/awp/core/shop.htm" />
		        <data android:scheme="taobao" />
            </intent-filter>
        </activity>
        
        
         <receiver
            android:name="test.tao.harness.CalendarAlarmReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.taobao.calendar.sdk.alarm.PLAY" />
                <action android:name="com.taobao.calendar.sdk.alarm.RESET" />
                <action android:name="com.taobao.calendar.sdk.alarm.STOP" />
                <action android:name="com.taobao.calendar.sdk.alarm.KILL" />
                <action android:name="com.taobao.calendar.sdk.alarm.TIMEOUT" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="android.intent.action.LOCALE_CHANGED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <service 
            android:name="test.tao.harness.ExternalBindService"
            android:process=":external"
            android:exported="true"
            ></service>
    </application>

</manifest>